.pqm-startseite {
  display: flex;
  flex-direction: column;
  gap: var(--pqm-space-2);
  height: 100%;
}

.pqm-startseite__header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.pqm-startseite__heading {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--pqm-color-primary);
}

.pqm-startseite__subtitle {
  font-size: 0.9rem;
  color: var(--pqm-color-neutral);
}
