.pqm-app-shell {
  display: flex;
  height: 100%;
}

.pqm-app-shell__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.pqm-app-shell__content {
  flex: 1;
  overflow-y: auto;
  padding: var(--pqm-space-3);
  background-color: var(--pqm-color-surface);
}
